* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
    height: auto;
}
span, a {
    display: inline-block;
}
.box {
    background-color: rgb(96, 124, 114);
    min-height: 100dvh;
    padding: 50px;
    transition: 0.2s;
}
.btn {
    background-color: rgb(56, 56, 56);
    padding: 15px 60px;
    border-radius: 30px;
    border: none;
    font-size: 25px;
    position: relative;
    transition: 0.2s;
}
.oq {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50px;
    position: absolute;
    top: 4px;
    left: 0;
    transition: 0.2s;
}
.text {
    line-height: 2.6;
    font-size: 20px;
    transition: 0.2s;
}   
.a {
    font-size: 25px;
    color: rgb(0, 255, 0);
    transition: 0.2s;
    font-weight: bold ;
}
.box1 {
    background-color: rgb(30, 30, 30);
    color: white;
}
.btn1 {
    background-color: green;
}
.a1 {
    color: yellow;
}
.oqq {
    transform: translateX(70px);
}